@use "utilities/global" as *;

.advice_id {
  text-transform: uppercase;
  color: color(neon-green);
  font-size: fluid(rem(13px), rem(18px));
  line-height: fluid(16px, 18px);
  font-weight: 800;
  letter-spacing: 3.45714px;
  margin-bottom: em(24px, 11px);
}

.advice_text {
  font-size: fluid(rem(24px), rem(28px));
  line-height: fluid(33px, 38px);
  font-weight: 800;
  letter-spacing: fluid(-0.257143px, -0.3px);
  text-align: center;
  color: color(light-cyan);
  margin-bottom: fluid(rem(24px), rem(40px));
}

.error {
  color: color(coral);
}
