@use "utilities/global" as *;

@include setup;

body {
  font-family: $font-manrope;
  background-color: color(dark-blue);
  margin-inline: rem(16px);
}

#root {
  width: 100%;
  min-height: 100vh;
  padding-top: max(rem(32px), lerp(667px, rem(120px), 810px, rem(223px), true));
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
